WindowsFormsWctToDb/Service References/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfToDb" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_TambahBiodata_InputMessage">
    <wsdl:part name="parameters" element="tns:TambahBiodata" />
  </wsdl:message>
  <wsdl:message name="IService1_TambahBiodata_OutputMessage">
    <wsdl:part name="parameters" element="tns:TambahBiodataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EditBiodata_InputMessage">
    <wsdl:part name="parameters" element="tns:EditBiodata" />
  </wsdl:message>
  <wsdl:message name="IService1_EditBiodata_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditBiodataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_HapusBiodata_InputMessage">
    <wsdl:part name="parameters" element="tns:HapusBiodata" />
  </wsdl:message>
  <wsdl:message name="IService1_HapusBiodata_OutputMessage">
    <wsdl:part name="parameters" element="tns:HapusBiodataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetBiodata_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBiodata" />
  </wsdl:message>
  <wsdl:message name="IService1_GetBiodata_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBiodataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllBiodata_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBiodata" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllBiodata_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBiodataResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="TambahBiodata">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/TambahBiodata" message="tns:IService1_TambahBiodata_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/TambahBiodataResponse" message="tns:IService1_TambahBiodata_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditBiodata">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EditBiodata" message="tns:IService1_EditBiodata_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EditBiodataResponse" message="tns:IService1_EditBiodata_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HapusBiodata">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/HapusBiodata" message="tns:IService1_HapusBiodata_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/HapusBiodataResponse" message="tns:IService1_HapusBiodata_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBiodata">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetBiodata" message="tns:IService1_GetBiodata_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetBiodataResponse" message="tns:IService1_GetBiodata_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllBiodata">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllBiodata" message="tns:IService1_GetAllBiodata_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllBiodataResponse" message="tns:IService1_GetAllBiodata_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TambahBiodata">
      <soap:operation soapAction="http://tempuri.org/IService1/TambahBiodata" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditBiodata">
      <soap:operation soapAction="http://tempuri.org/IService1/EditBiodata" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HapusBiodata">
      <soap:operation soapAction="http://tempuri.org/IService1/HapusBiodata" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBiodata">
      <soap:operation soapAction="http://tempuri.org/IService1/GetBiodata" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllBiodata">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllBiodata" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfToDb/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>